.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background: linear-gradient(90deg, rgba(20, 16, 99, 1) 40%, rgba(25, 55, 170, 1) 84%, rgba(44, 51, 148, 1) 100%, rgba(167, 23, 7, 1) 100%);
    color: white !important;
}

.css-16plilq-MuiToolbar-root {
    background: rgb(130, 14, 14);
    background: linear-gradient(90deg, rgba(130, 14, 14, 1) 46%, rgba(3, 3, 3, 1) 97%);

}

