a:active {
    background-color: rgb(248, 244, 234) !important;
}
#SubmitButton:hover{
    background-color: rgb(248, 244, 234) !important;
}
.css-1ex1afd-MuiTableCell-root{
    color : rgb(77, 76, 125) !important;
}